<%- include ('./partials/header.ejs') %> 
<body>
    <%- include ('./partials/navbar.ejs') %> 
    <div class="container">
        <hr>
        <h1>Bem vindo ao MarketPlace de produtos usados!</h1>
        <hr>
        <% if(user != undefined){ %>
            <% if(user.id == 1){ %>
                <a href="/admin/categories/new" class="btn btn-success">Nova categoria</a>
            <% } %>
        <% } %>
        <a href="/admin/products/new" class="btn btn-success">Novo produto</a>            
        <% products.forEach( product => { %>
            <div class="card mt-3">
                <div class="card-header ">
                    <h2><%= product.title %> | R$<%= product.price%></h2>
                </div>
                <div class="card-body">
                    <%- product.description %>
                </div>
                <div class="card-footer">
                    <a href="/product/<%= product.slug %>" class="btn btn-success">Ver produto</a>
                </div>
            </div>
        <% }) %>
            <div class="row mb-4 mt-3" style="float: right">
                <a href="/products/page/2">Próxima página</a>
            </div>
    </div>
</body>
<%- include ('./partials/footer.ejs') %> 