<%- include ('./partials/header.ejs') %> 

<body>
    <%- include ('./partials/navbar.ejs') %> 
    <hr>
    <div class="card mt-3">
        <div class="card-header ">
            <h2><%= product.title %></h2>
        </div>
        <div class="card-body">
            <%- product.description %>
            <strong>R$<%= product.price %></strong>
        </div>
    </div>
</body>

<%- include ('./partials/footer.ejs') %>